<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Handle bars</title>
</head>
<style>
         body {
            font-family: Arial, Helvetica, sans-serif;
            max-width: 800px;
            margin: auto;
            font-size: 14px;
            line-height: 1.2rem;
         }
         * {
            margin: 0;
         }
        
         .header {
            display: flex;
            justify-content: space-between;
            border: 1px solid #efefef;
            border-radius: 5px;
         }
         .header div{
            text-align: center;            
            padding: 1rem;
         }

    .logo-container { width: 200px;}

</style>
<body>
    <header class="header">
        <div class="logo-container">
            <img src='{{serverHost}}/docs/img?id=logo-cnsrv-light.png' >
        </div>
        <div>
            <h3>CONSULTORES DE SERVICIOS VARIOS SA de CV SOFOM ENR</h3>
            <p>Reporte de Visitas de Certificacion Social</p>
        </div>
    </header>    
    <h1>Hola!, esta es una prueba para el servidor</h1>
    <p>{{serverHost}}</p>
</body>
</html>